
    
    
        <div class="container">
            <section id="banner" class="banner">
                <div class="banner_content">
                    <div class="banner_content_box">
                        <div class="greeting">
                            <div class="greeting_text">
                                <h2 class="good_morning">Olá Mundo!</h2>
                                <h3>Seja Bem Vindo!</h3>
                                <p class="greeting_phrase">Está um dia lindo hoje!</p>
                            </div>
                            <div class="greeting_description">
                                <div id="description" class="description">
                                    <h3>Olá, eu sou Aldomar!</h3>
                                        <p>Tenho <span class="myAge">[Sua Idade]</span> anos e sou estudante de Análise e Desenvolvimento de Sistemas.</p>
                                    <p>Seja bem-vindo ao meu portfólio! Aqui você encontrará uma amostra dos meus projetos e habilidades de desenvolvimento.</p>
                                    <p>Continue navegando para conhecer mais sobre mim e o que posso fazer.</p>
                                </div><!--description-->
                            </div><!--greeting_description-->
                        </div><!--greeting-->
                    </div><!--banner_content_box-->
                </div><!--banner_content-->
            </section><!--banner-->
        
            <section id="about" class="about">
                <div class="about_content">
                    <div class="about_content_left">
                        <div class="text_box">
                            <h1 class="heading w100">Sobre Mim</h1>
                            <p>Olá! Sou [Seu Nome], um entusiasta de tecnologia e apaixonado por programação. Com [Sua Idade] anos, estou atualmente cursando Análise e Desenvolvimento de Sistemas na faculdade, onde venho aprimorando minhas habilidades e conhecimentos em desenvolvimento web.</p>
                            <p>Meu interesse em programação começou quando aprendi a criar minhas primeiras páginas web usando HTML e CSS. Com o tempo, a curiosidade me levou a explorar o mundo do backend, onde aprendi a criar aplicações usando NodeJS, PHP e Python, além de trabalhar com bancos de dados SQL e NoSQL.</p>
                            <p>Além das habilidades técnicas, também desenvolvi competências em soft skills, como comunicação eficaz, trabalho em equipe e capacidade de aprendizado rápido. Acredito que essas habilidades são fundamentais para uma colaboração eficiente em projetos e para fornecer soluções eficazes para os clientes.</p>
                            <p>Aqui estão algumas das minhas habilidades:</p>
                            <ul>
                                <li>Desenvolvimento Frontend: HTML, CSS, JavaScript, React</li>
                                <li>Desenvolvimento Backend: NodeJS, PHP, Python</li>
                                <li>Bancos de Dados: SQL e NoSQL</li>
                                <li>Comunicação Eficaz</li>
                                <li>Trabalho em Equipe</li>
                                <li>Aprendizado Rápido</li>
                            </ul>
                            <p>Estou sempre em busca de novos desafios e oportunidades para aplicar meus conhecimentos em projetos interessantes. Se você está procurando um desenvolvedor dedicado e entusiasmado, entre em contato! Estou ansioso para trabalhar com você.</p>
                        </div><!--text_box-->
                    </div><!--about_content_left-->
                    <div class="about_content_right">
                        <div class="about_content_image w100">
                            <picture>
                                <source media="(min-width:650px)" srcset="images/image640x480.png">
                                <source media="(min-width:465px)" srcset="images/image320x475.png">
                                <img src="images/image320x475.png" alt="image" style="width:auto;">
                            </picture>
                        </div><!--about_content_image-->
                    </div><!--about_content_right-->
                </div><!--about_content-->
            </section><!--about-->

            <section id="portfolio" class="portfolio">
                <div class="portfolio_content">
                    <div class="title">
                        <h1 class="heading">Portifólio</h1>
                        <h2 class="caption">Portfólio de Desenvolvimento</h2>
                    </div><!--title-->
                    <div class="cards_box">
                        <div class="cards_content">
                            <!--% projects.forEach(project => { %-->
                                <div class="card m-auto my-3" style="width: 18rem;">
                                    <img src="images/image320x240.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                            <!--% }) %-->
                        </div><!--cards_content-->
                        <div class="button_projects">
                            <a href="http://manexstore.com.br" target="_blank" rel="noopener noreferrer" class="link_buttom">Ver mais detalhes</a>
                        </div><!--button_projects-->
                    </div><!--cards_box-->
                </div><!--portfolio_content-->
            </section><!--portfolio-->

            <section id="qualifications" class="qualifications">
                <div class="title">
                    <h1 class="heading">Qualificações</h1>
                    <h2 class="caption">Habilidades e Projetos</h2>
                </div><!--title-->
                <div class="habilidades">
                    <h3>Habilidades Técnicas</h3>
                    <ul>
                    <li>Desenvolvimento Frontend: HTML5, CSS3, JavaScript, React</li>
                    <li>Desenvolvimento Backend: Node.js, PHP, Python</li>
                    <li>Bancos de Dados: SQL e NoSQL</li>
                    <li>Versionamento de Código: Git</li>
                    <li>Integração de APIs RESTful</li>
                    <li>Layout Responsivo e Design de Interfaces</li>
                    </ul>
                </div><!--habilidades-->
                <div class="projetos">
                    <h3>Projetos Pessoais</h3>
                    
                    <div class="card_projects">
                        <div class="icon"><i class="fa-solid fa-2xl fa-laptop-code"></i></div>
                        <p>
                            <span class="project_name">[Nome do Projeto 1]</span> - <span class="project_data">[Data de Criação]</span>
                        </p>
                        <p>
                            - Descrição breve do projeto e das tecnologias utilizadas.
                        <p>
                            <a href="#">Demonstração</a>
                        </p>
                    </div><!--card_projects-->
                    <!-- Adicione outros projetos pessoais relevantes -->
                </div><!--projetos-->
                <div class="softskills">
                    <h3>Soft Skills</h3>
                    <ul>
                    <li>Comunicação Eficaz</li>
                    <li>Trabalho em Equipe</li>
                    <li>Capacidade de Aprendizado Rápido</li>
                    <li>Resolução de Problemas</li>
                    <li>Organização e Gerenciamento de Tempo</li>
                    </ul>
                </div><!--softskills-->
            </section><!--qualifications-->

            <section id="education" class="education">
                <div class="title">
                    <h1 class="heading">Formação</h1>
                </div>
            </section>

            <section id="contact" class="contact">
                <div class="title">
                    <h2 class="caption">Entre em contato</h2>
                </div>
            </section>

        
        </div><!--container-->

    