

<!DOCTYPE html>
<html lang="pt-br" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo/FundoEscuro.png" type="image/x-icon">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <header class="d-flex justify-content-around">
        <div class="logo navbar-brand ">
            <div class="img_logo">
                <img src="images/logo/LogoTransp120.png" width="80px" height="80px" alt="logomarca, círculo azul com as iniciais MT e o nome ManexTech">
            </div>
        </div>
        <div class="nav d-flex justify-content-end">
            <div class="navbar">
                <ul class="menu_desktop">
                    <li><a href="/" class="link_menu">Home</a></li>
                    <li><a href="/about" class="link_menu">Sobre</a></li>
                    <li><a href="/projects" class="link_menu">Projetos</a></li>
                    <li><a href="/cursos" class="link_menu">Cursos</a></li>
                    <li><a href="" class="link_menu">Contatos</a></li>
                </ul><!--menu_desktop-->
                <ul class="menu_mobile">
                    <div class="icon_menu"><i class="bi bi-menu-down"></i></div>
                    <div class="nav_mobile">
                        <li><a href="/" class="link_menu">Home</a></li>
                        <li><a href="/about" class="link_menu">Sobre</a></li>
                        <li><a href="/projects" class="link_menu">Projetos</a></li>
                        <li><a href="/cursos" class="link_menu">Cursos</a></li>
                        <li><a href="" class="link_menu">Contatos</a></li>
                    </div>
                </ul><!--menu_mobile-->
            </div><!--navbar-->
        </div><!--nav-->
    </header>

<main>
    <%- include(body) %>
</main>

<footer>
    <div class="footer_top"></div>
    <div class="footer_middle">
        <div class="footer_left"></div>
        <div class="footer_right"></div>
    </div>
    <div class="footer_bottom">
        <p>Desenvolvido por <%- authorName %> </p>
        <p>Todos os direitos reservados&#174;</p>
    </div>
</footer>

    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>